body {
    padding: 0;
    max-width: 1320px;
    margin: 0 auto !important;
}

#dropzone {
    background-color: #f8f9fa;
    border: 2px dashed #007bff;
    border-radius: 5px;
    color: #495057;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

#dropzone p {
    margin: 0;
    font-size: 18px;
}

#dropzone label {
    margin-top: 10px;
    font-size: 18px;
}

#quality {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    width: 100%;
    max-width: 150px;
    text-align: center;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
}

#files a {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

#files {
    overflow-y: scroll;
}

.download-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    background-color: #f8f8f8;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.download-link:hover {
    background-color: #333;
    color: #fff;
}

.download-icon {
    font-size: 20px;
}

#download-all {
    display: none;
}

#top {
    height: 40vh;
}

#content {
    max-height: 60vh;
}

.spinner-border {
    margin: 0 auto;
}
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}